In [1]:
# 练习10-删除数据
# 探索Iris纸鸢花数据
# -- 将数据集存成变量iris
# -- 创建数据框的列名称['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
# -- 数据框中有缺失值吗？
# -- 将列petal_length的第10到19行设置为缺失值
# -- 将petal_lengt缺失值全部替换为1.0
# -- 删除列class
# -- 将数据框前三行设置为缺失值
# -- 删除有缺失值的行
# -- 重新设置索引

In [2]:
# -- 将数据集存成变量iris
import pandas as pd 
iris = pd.read_csv('iris.data',header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
# -- 创建数据框的列名称['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
iris.columns = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# -- 数据框中有缺失值吗？
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
# -- 将列petal_length的第10到19行设置为缺失值
from numpy import nan as NaN
iris.petal_length[10:20] = NaN
iris.petal_length.head(21)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    1.7
Name: petal_length, dtype: float64

In [7]:
# -- 将petal_lengt缺失值全部替换为1.0
iris.fillna(1.0,inplace=True)
iris.petal_length.head(21)

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.7
Name: petal_length, dtype: float64

In [8]:
# -- 删除列class
iris.drop(['class'],axis=1,inplace=True)
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [12]:
# -- 将数据框前三行设置为缺失值
iris.iloc[0:3,:] =  NaN
iris.iloc[0:5,:]

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
# -- 删除有缺失值的行
iris.dropna(inplace=True)
iris

     sepal_length  sepal_width  petal_length  petal_width
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[147 rows x 4 columns]

In [18]:
# -- 重新设置索引
iris.index = range(0,len(iris))
iris

     sepal_length  sepal_width  petal_length  petal_width
0             4.6          3.1           1.5          0.2
1             5.0          3.6           1.4          0.2
2             5.4          3.9           1.7          0.4
3             4.6          3.4           1.4          0.3
4             5.0          3.4           1.5          0.2
..            ...          ...           ...          ...
142           6.7          3.0           5.2          2.3
143           6.3          2.5           5.0          1.9
144           6.5          3.0           5.2          2.0
145           6.2          3.4           5.4          2.3
146           5.9          3.0           5.1          1.8

[147 rows x 4 columns]